
<h3> <%= link_to 'Add New Student', new_student_path %> </h3>


<h2>List of Students</h2>


<ul>
  <% @students.each do |student| %>
    <li>
       <%= link_to "#{student.name}", student_path(student.id) %>
    </li>
  <% end %>
</ul>
